[package]
name = "evergreen"
version = "0.1.0"
edition = "2021"
authors = ["Bill Erickson <berickxx@gmail.com>"]

[dependencies]
rand = "0.8.5"
log = "0.4.17"
syslog = "6.0.1"
json = "0.12.4"
roxmltree = "0.18"
redis = "0.22.1"
gethostname = "0.4"
signal-hook = "0.3"
mptc = { path = "../mptc" }
marc = { path = "../marc" }
chrono = "0.4"
chrono-tz = "0.8"
yaml-rust = "0.4"
postgres = { version = "0.19", features = ["with-chrono-0_4"] }
regex = "1.9"                                                                
getopts = "0.2"
md5 = "0.7"
memcache = "0.17.2"

# Needed for extracting numeric PG types
pg_interval = "0.4"
rust_decimal = { version = "1.26", features = ["db-postgres"] }
postgres-cursor = "0.4"

# HTTP gateway
httparse = "1.8.0"

# for egsh
# could be make optional
# Issues with deriving Default for enums in v10.1.0
rustyline = "10.1"
atty = "0.2"
sip2 = { path = "../sip2", features = ["json"] }
# Bringing this in because it supports JSON stream parsing, which is
# not supported by "json".  Ideally, we would replace "json" with
# "serde_json" in opensrf, etc., but that will be a pretty big job,
# so I'm starting here.
serde_json = "1.0.96"

# For websockets
tungstenite = "0.19.0"

# For websockets, http-gateway, maybe more
socket2 = "0.5"

# For gateway
url = "2.3"

[[bin]]
name = "eg-router"
path = "src/bin/router.rs"

[[bin]]
name = "eg-websockets"
path = "src/bin/websockets.rs"

[[bin]]
name = "eg-http-gateway"
path = "src/bin/http-gateway.rs"

[[bin]]
name = "eg-hold-targeter"
path = "src/bin/hold-targeter.rs"

[[bin]]
name = "eg-marc-export"
path = "src/bin/marc-export.rs"

[[bin]]
name = "eg-bib-to-auth-linker"
path = "src/bin/bib-to-auth-linker.rs"

[[bin]]
name = "eg-parallel-ingest"
path = "src/bin/parallel-ingest.rs"

[[bin]]
name = "eg-buswatch"
path = "src/bin/buswatch.rs"


# --- Services
# Service names are prefixed with rs- to prevent
# clobberation with existing service names.

[[bin]]
name = "eg-service-rs-actor"
path = "src/services/actor/main.rs"

[[bin]]
name = "eg-service-rs-search"
path = "src/services/search/main.rs"

[[bin]]
name = "eg-service-rs-circ"
path = "src/services/circ/main.rs"

[[bin]]
name = "eg-service-rs-hold-targeter"
path = "src/services/hold-targeter/main.rs"

[[bin]]
name = "eg-service-rs-store"
path = "src/services/store/main.rs"

[[bin]]
name = "eg-service-rs-auth-internal"
path = "src/services/auth-internal/main.rs"

[[bin]]
name = "eg-service-rs-sip2"
path = "src/services/sip2/main.rs"



