[package]
name = "evergreen"
version = "0.1.0"
authors = ["Bill Erickson <berickxx@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
opensrf = { path = "../opensrf" }
marc = { path = "../marc" }
roxmltree = "0.14"
chrono = "0.4"
yaml-rust = "0.4"
log = "0.4"
json = "0.12"
postgres = { version = "0.19", features = ["with-chrono-0_4"] }
regex = "1.7"                                                                

getopts = "0.2"
md5 = "0.7"

# Used by (at least) the parallel export script
threadpool = "1.8"

# Needed for DB / JSON data translations
pg_interval = "0.4"
rust_decimal = { version = "1.26", features = ["db-postgres"] }

# for egsh
# could be make optional
# Issues with deriving Default for enums in v10.1.0
rustyline = "=10.0.0"
atty = "0.2"

[[bin]]
name = "egsh"

[[bin]]
name = "eg-parallel-ingest"

[[bin]]
name = "eg-bib-to-auth-linker"

[[bin]]
name = "eg-marc-export"

[[example]]
name = "basic-requests"
