[Unit]
Description=Evergreen Service open-ils.rs-addrs

[Service]
Type=simple
User=opensrf
Group=opensrf
ExecStart=/usr/local/bin/kcls-service-address
ExecReload=/bin/kill -HUP $MAINPID

