[Unit]
Description=Evergreen HTTP Gateway

[Service]
Type=simple
User=opensrf
Group=opensrf
ExecStart=/usr/local/bin/eg-http-gateway
ExecReload=/bin/kill -HUP $MAINPID

