[Unit]
Description=Evergreen SIP2 Server
Requires=redis-server.service
After=redis-server.service
#Wants=opensrf-router.service
#After=opensrf-router.service

[Service]
Type=simple
User=opensrf
Group=opensrf
ExecStart=/usr/local/bin/eg-sip2-server
ExecReload=/bin/kill -HUP $MAINPID

