[Unit]
Description=Evergreen SIP2 Server

[Service]
Type=simple
User=opensrf
Group=opensrf
ExecStart=/usr/local/bin/eg-sip2-server
ExecReload=/bin/kill -HUP $MAINPID

