[Unit]
Description=Evergreen SIP2 Mediator

[Service]
Type=simple
User=opensrf
Group=opensrf
Environment="OSRF_LOG_FACILITY=LOCAL4"
ExecStart=/usr/local/bin/eg-sip2-mediator
ExecReload=/bin/kill -HUP $MAINPID

