[Unit]
Description=OpenSRF Router
Requires=redis-server.service
After=redis-server.service

[Service]
Type=simple
User=opensrf
Group=opensrf
ExecStart=/usr/local/bin/opensrf-buswatch
