[Unit]
Description=Evergreen Service open-ils.rs-circ

[Service]
Type=simple
User=opensrf
Group=opensrf
ExecStart=/usr/local/bin/eg-service-rs-circ
ExecReload=/bin/kill -HUP $MAINPID

